---
import Layout from '../layouts/Layout.astro';
import aboutData from '../content/about.json';
---

<Layout title="關於 (About)">
	<div class="profile-header">
		<h1 class="title">{aboutData.name}</h1>
		<div class="subtitle">{aboutData.profession}</div>
	</div>

	<div class="content-block">
		<h2>關於研究</h2>
		<p style="white-space: pre-line;">{aboutData.intro}</p>
	</div>

	<div class="content-block">
		<h2>目前專注領域</h2>
		<ul style="color: #bbb; line-height: 1.8;">
			{aboutData.focusAreas.map((area) => (
				<li>{area}</li>
			))}
		</ul>
	</div>
</Layout>
